@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf"); }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 16px; }

nav {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background-color: #374249; }
  nav .location-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 80px;
    background-color: #f75311;
    margin: 0; }
    nav .location-nav img {
      height: 50px;
      justify-content: center; }
    nav .location-nav p {
      text-decoration: underline;
      font-size: 17px;
      color: white; }
  nav ul {
    display: flex;
    flex-direction: row; }
    nav ul li {
      list-style-type: none; }
      nav ul li a {
        text-decoration: none;
        padding: 25px;
        text-align: left;
        color: white; }
        nav ul li a:hover {
          text-decoration: underline; }

main > .intro-container {
  height: 500px; }
  main > .intro-container > .filters-container {
    height: 500px; }
  main > .intro-container > .pictures-container {
    height: 500px; }

.intro-container {
  display: flex;
  position: relative; }
  .intro-container img {
    display: flex;
    width: 100%;
    max-height: 100%; }
  .intro-container .headline {
    width: 80%;
    background-color: rgba(94, 94, 94, 0.556);
    position: absolute;
    bottom: 100px;
    right: 125px;
    color: white;
    text-align: center; }
    .intro-container .headline h1 {
      font-size: 40pt; }
    .intro-container .headline p {
      font-size: 20px; }

.filters-container {
  display: flex;
  justify-content: right;
  overflow: none;
  flex-direction: row;
  height: 100px;
  align-items: center;
  margin-right: 100px; }
  .filters-container button {
    display: flex;
    padding: 12px;
    margin: 20px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid #c0bebe;
    border-radius: 25px;
    color: #797979; }
    .filters-container button:hover {
      background-color: #cecece;
      color: white; }

.pictures-container {
  padding: 20px 0px;
  display: flex;
  flex-wrap: nowrap;
  background-color: #f3f7f9;
  align-items: center; }
  .pictures-container .pictures {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    width: 80%;
    column-gap: 3.3%; }
    .pictures-container .pictures .image-div:hover .picture-text {
      opacity: 1; }
    .pictures-container .pictures .image-div {
      display: flex;
      flex-direction: column;
      padding: 0;
      width: 19%;
      height: 18em;
      float: left;
      margin: 1em;
      background-size: cover; }
    .pictures-container .pictures .loft {
      background-image: url(../slike/1.jpg); }
    .pictures-container .pictures .lovely {
      background-image: url(../slike/2.jpg); }
    .pictures-container .pictures .condo {
      background-image: url(../slike/3.jpg); }
    .pictures-container .pictures .studio {
      background-image: url(../slike/4.jpg); }
    .pictures-container .pictures .artist {
      background-image: url(../slike/5.jpg); }
    .pictures-container .pictures .downtown {
      background-image: url(../slike/6.jpg); }
    .pictures-container .pictures img {
      height: 300px;
      padding: 20px; }
    .pictures-container .pictures .picture-text {
      background-color: rgba(255, 255, 255, 0.678);
      margin: 0px;
      padding: 10px;
      opacity: 0;
      transform: translateY(0px); }
      .pictures-container .pictures .picture-text p {
        font-size: 18px; }

.pricing-container {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px; }
  .pricing-container button {
    display: none; }
  .pricing-container table {
    border-collapse: collapse;
    text-align: center;
    width: 50%; }
    .pricing-container table .hidden {
      border: hidden;
      visibility: hidden; }
    .pricing-container table .orange {
      background-color: #f75311;
      color: white; }
    .pricing-container table .dark-blue {
      background-color: #374249;
      color: white; }
    .pricing-container table th,
    .pricing-container table td {
      border: 0.5px solid gray;
      margin: 0px;
      border-spacing: 0px;
      padding: 5px; }
  .pricing-container h1 {
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #374249;
    margin: 20px; }
  .pricing-container p {
    font-size: 16px;
    color: #797979;
    margin-bottom: 50px; }

.contact-container {
  padding: 20px;
  background-color: #f3f7f9; }
  .contact-container .form-and-location {
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start; }
  .contact-container h1 {
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #374249;
    text-align: center;
    padding: 30px; }

.form-container {
  text-align: center;
  margin: 0px;
  padding: 0px;
  width: 50%;
  justify-content: space-between; }
  .form-container form {
    background-color: #f75311;
    padding: 10px; }
  .form-container .form-contact {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    padding: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: row; }
  .form-container .first-row {
    display: flex;
    justify-content: space-around;
    align-items: stretch; }
    .form-container .first-row select {
      width: 80px;
      padding: 7px;
      margin: 5px; }
    .form-container .first-row #name {
      width: 80%;
      padding: 7px;
      margin: 5px; }
    .form-container .first-row #email {
      padding: 7px;
      margin: 10px;
      width: 540px; }
  .form-container textarea {
    padding: 7px;
    margin: 10px;
    width: 540px; }

footer {
  background-color: #374249;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center; }
  footer div {
    color: white; }
    footer div :nth-child(2) {
      color: #f75311; }

@media screen and (max-width: 800px) {
  .intro-container {
    height: 335px !important; }

  .pictures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }

  .image-div {
    width: 37% !important;
    height: 15em !important;
    margin: 20px auto !important; }

  table {
    width: 90% !important; }

  .filters-container {
    height: 80px;
    margin: 0.5em 5.5em; }

  button {
    width: 30% !important;
    display: flex !important;
    padding: 10px 0px !important;
    margin: 10px !important; }

  .headline {
    width: 56% !important;
    bottom: 58px !important;
    right: 152px !important; }
    .headline h1 {
      font-size: 30pt !important;
      font-weight: lighter; }
    .headline p {
      font-size: 15px !important; }

  .form-and-location {
    flex-direction: column;
    align-items: center !important; }

  .form-container {
    margin-top: 20pt;
    width: 105%; }

  .first-row {
    margin: 0;
    padding: 0;
    width: 100%; }

  .pricing-container button {
    display: none !important; } }
@media screen and (max-width: 500px) {
  .intro-container {
    background: black;
    height: 275px !important; }
    .intro-container img {
      visibility: hidden; }
    .intro-container .headline {
      background-color: rgba(0, 0, 0, 0);
      width: 100% !important;
      bottom: 94px !important;
      right: 4px !important; }
      .intro-container .headline h1 {
        font-size: 40pt !important; }

  .filters-container button {
    display: flex !important;
    padding: 10px 5px !important;
    margin: 4px !important; }

  .pictures-container {
    justify-content: center; }
    .pictures-container .pictures {
      justify-content: center !important;
      width: 95% !important;
      margin: 0px !important; }
      .pictures-container .pictures .image-div {
        width: 95% !important;
        height: 16em !important;
        margin: 10px auto !important; }
        .pictures-container .pictures .image-div .picture-text {
          opacity: 1 !important;
          margin: 0px !important; }

  .form-and-location {
    flex-direction: column !important;
    margin: 0px !important; }
    .form-and-location .location-container {
      width: 70%; }
      .form-and-location .location-container iframe {
        width: 100%; }
    .form-and-location .form-container {
      width: 100%;
      margin: 10px; }
      .form-and-location .form-container .first-row {
        width: 100%; }
        .form-and-location .form-container .first-row form {
          display: flex;
          flex-direction: column;
          width: 100%; }
          .form-and-location .form-container .first-row form .select-container {
            display: flex;
            flex-direction: column; }
            .form-and-location .form-container .first-row form .select-container #gender {
              width: 98% !important; }
            .form-and-location .form-container .first-row form .select-container #name {
              width: 98% !important; }
          .form-and-location .form-container .first-row form .input-container,
          .form-and-location .form-container .first-row form .textarea-container {
            display: flex; }
          .form-and-location .form-container .first-row form input,
          .form-and-location .form-container .first-row form textarea,
          .form-and-location .form-container .first-row form select {
            padding: 10px !important;
            width: 100% !important;
            margin: 4px !important; }

  nav {
    padding: 0;
    flex-direction: column; }
    nav ul {
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      nav ul li {
        padding: 10px;
        list-style-type: none; }
        nav ul li a {
          padding: 10px;
          text-decoration: none;
          text-align: center; }

  .location-nav {
    padding-right: 75% !important; }

  .filters-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5em 1.5em; }

  .pricing-container {
    height: 20%;
    margin: 20px; }
    .pricing-container p {
      margin: 20px; }
    .pricing-container button {
      display: block !important;
      margin: 20px;
      background-color: white;
      border: 1px solid #c0bebe;
      border-radius: 50px;
      color: gray;
      width: 52% !important;
      padding: 15px 0px !important;
      text-align: center; }
      .pricing-container button:hover {
        background-color: #cecece;
        color: white; }
    .pricing-container table {
      display: none; } }

/*# sourceMappingURL=style.css.map */
