* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  background-color: #374249;
}

h1,
h2,
h3 {
  color: #374249;
  font-size: 30px;
}

ul {
  display: flex;
  width: 50%;
  list-style: none;
  justify-content: space-around;
}
ul li {
  width: 20%;
  text-align: center;
  line-height: 3em;
}

li a {
  text-decoration: none;
  color: #797979;
}

li:hover {
  background-color: #f75311;
}
li:hover a {
  text-decoration: underline;
}

.active img {
  height: 20px;
  color: #797979;
}

.prva_sekcija {
  position: relative;
}

.pozadina img {
  width: 100%;
  background-size: cover;
  background-position: center;
}

.naslov {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.297);
  text-align: center;
  width: 60%;
  left: 20%;
  bottom: 20%;
}
.naslov p {
  color: #374249;
}

.druga_sekcija {
  display: flex;
  justify-content: end;
}

.btn {
  margin: 20px 100px 20px 0;
}

button {
  padding: 15px;
  margin: 0 10px;
  border: 1px solid #cfd1d3;
  border-radius: 10px;
}
button:hover {
  background-color: #cfd1d3;
  color: white;
}

.treca_sekcija {
  background-color: #f3f7f9;
  padding: 20px 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}
.container .box {
  position: relative;
  width: 22%;
  margin: 1%;
}
.container .box img {
  width: 100%;
}
.container .box .cena {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  background-color: rgba(224, 221, 221, 0.485);
  transition: 0.5s ease;
  opacity: 0;
}
.container .box:hover .cena {
  opacity: 1;
}

.cetvrta_sekcija {
  text-align: center;
}
.cetvrta_sekcija h2 {
  margin: 50px;
  text-transform: uppercase;
}
.cetvrta_sekcija p {
  margin: 20px;
}

table {
  width: 50%;
  margin: 30px auto;
}

th {
  background-color: #f75311;
}

.hidden {
  opacity: 0;
}

.bg-dark {
  background-color: rgb(39, 38, 45);
}

.peta_sekcija h2 {
  margin: 50px;
  text-transform: uppercase;
  text-align: center;
}

.pet_container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 20px auto;
  justify-content: space-around;
}
.pet_container .map {
  width: 30%;
}

form {
  position: relative;
  width: 50%;
  background-color: #f75311;
}

.pol {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40%;
}
.pol select {
  width: 100%;
}

.ime {
  position: absolute;
  width: 50%;
  top: 20px;
  right: 20px;
}
.ime input {
  width: 100%;
}

.message {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 90%;
}
.message textarea {
  width: 100%;
}

.email {
  position: absolute;
  top: 100px;
  left: 20px;
  width: 90%;
}
.email input {
  width: 100%;
}

footer {
  background-color: #374249;
  text-align: center;
  color: white;
}
footer span {
  color: #f75311;
}

@media screen and (max-width: 1024px) {
  ul {
    width: 80%;
  }
  ul li {
    width: 20%;
  }
  .container {
    justify-content: center;
  }
  .container .box {
    width: 35%;
  }
}
@media screen and (max-width: 768px) {
  ul {
    display: block;
    width: 100%;
    list-style: none;
  }
  ul li {
    display: none;
    width: 100%;
    text-align: center;
    line-height: 3em;
  }
  ul .active {
    display: block;
  }
  ul:hover li {
    display: block;
  }
  .prva_sekcija {
    background-color: black;
    height: 200px;
  }
  .pozadina img {
    display: none;
  }
  .naslov {
    text-align: center;
    background-color: black;
    justify-items: center;
    margin-bottom: 20px;
  }
  .naslov h1 {
    color: white;
  }
  .naslov p {
    color: white;
    margin-bottom: 10px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
  }
  .container .box {
    position: relative;
    width: 100%;
  }
  .container .box img {
    width: 100%;
  }
  .container .box .cena {
    top: 0;
    text-align: left;
    width: 100%;
    height: 20%;
    padding: 10px;
  }
  table {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
