@mixin body {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: $main-font;
        font-size: 16px;
    }
}

@mixin location-nav {
    .location-nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-right: 80px;
        background-color: $orange-color;
        margin: 0;
        img {
            height: 50px;
            justify-content: center;
        }
        p{
            text-decoration: underline;
            font-size: 17px;
            color: white;
        }
       }
       @content;
}

@mixin pictures-background {
.loft {
    background-image: url(../slike/1.jpg);
}

.lovely {
    background-image: url(../slike/2.jpg);
}

.condo {
    background-image: url(../slike/3.jpg);
}

.studio {
    background-image: url(../slike/4.jpg);
}
.artist {
    background-image: url(../slike/5.jpg);
}
.downtown {
    background-image: url(../slike/6.jpg);
}

}



@mixin sections-container-height {
    main > .intro-container {
        height: 500px;
        & > .filters-container{
            height: 500px;
        }
    & > .pictures-container {
        height: 500px;
    }
    }
    
}


@mixin tablet {
    @media screen and (max-width:800px){
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width:500px){
        @content;
    }
}
