@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #797979;
}

.container {
  max-width: 1160px;
  padding: 50px;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 80%;
  }
}

.btn {
  padding: 15px 20px;
  background-color: white;
  border: 1px solid #cfd1d3;
  border-radius: 30px;
  margin-right: 10px;
  color: #797979;
}
.btn:hover {
  color: white;
  background-color: #797979;
}

h2 {
  text-transform: uppercase;
  color: #374249;
  margin-bottom: 25px;
}

.nav-bar {
  background-color: #374249;
}
.nav-bar .nav-list {
  display: flex;
  align-items: center;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .nav-bar .nav-list {
    flex-wrap: wrap;
  }
}
.nav-bar .nav-list .location {
  background-color: #f75311;
  position: relative;
  flex: 0 0 20%;
  text-align: left;
}
.nav-bar .nav-list .location a {
  display: inline-block;
  text-decoration: underline;
  padding-left: 20px;
}
.nav-bar .nav-list .location img {
  width: auto;
  height: 40px;
  position: absolute;
  left: 10px;
  top: 5px;
}
.nav-bar .nav-list .list-item {
  padding: 15px 30px;
}
@media screen and (max-width: 768px) {
  .nav-bar .nav-list .list-item {
    flex: 0 0 100%;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .nav-bar .nav-list .list-item.location {
    text-align: left;
  }
}
.nav-bar .nav-list a {
  text-decoration: none;
  color: #cfd1d3;
}
.nav-bar .nav-list a:hover {
  text-decoration: underline;
}

header {
  background-image: url(../slike/intro.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  header {
    background: none;
    height: auto;
  }
}
header .header-text {
  background: rgba(55, 66, 73, 0.5);
  color: #f3f7f9;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 100px;
}
@media screen and (max-width: 1024px) {
  header .header-text h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 768px) {
  header .header-text {
    width: 100%;
    margin-bottom: 0;
    background-color: black;
  }
}
@media screen and (max-width: 768px) {
  header .header-text p {
    font-size: 2rem;
    padding-bottom: 50px;
  }
}

.one {
  text-align: end;
  margin-right: 50px;
}
@media screen and (max-width: 1024px) {
  .one {
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .one {
    text-align: center;
    margin: 0 auto;
  }
}

.two {
  background-color: #f3f7f9;
}
.two .two-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.two .two-wrapper .img-wrapper {
  flex: 0 0 23%;
  height: 300px;
}
@media screen and (max-width: 1024px) {
  .two .two-wrapper .img-wrapper {
    flex: 0 0 45%;
  }
}
@media screen and (max-width: 768px) {
  .two .two-wrapper .img-wrapper {
    flex: 0 0 100%;
  }
}
.two .two-wrapper .img-wrapper:hover .text {
  display: block;
  color: black;
  padding: 15px 20px 60px 15px;
  background: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
}
.two .two-wrapper .img-one {
  background-image: url(../slike/1.jpg);
  background-position: center;
  background-size: cover;
}
.two .two-wrapper .img-two {
  background-image: url(../slike/2.jpg);
  background-position: center;
  background-size: cover;
}
.two .two-wrapper .img-three {
  background-image: url(../slike/3.jpg);
  background-position: center;
  background-size: cover;
}
.two .two-wrapper .img-four {
  background-image: url(../slike/4.jpg);
  background-position: center;
  background-size: cover;
}
.two .two-wrapper .img-five {
  background-image: url(../slike/5.jpg);
  background-position: center;
  background-size: cover;
}
.two .two-wrapper .img-six {
  background-image: url(../slike/6.jpg);
  background-position: center;
  background-size: cover;
}
.two .two-wrapper .text {
  display: none;
}
@media screen and (max-width: 768px) {
  .two .two-wrapper .text {
    display: block;
    color: black;
    padding: 15px 20px 60px 15px;
    background: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
    text-align: start;
  }
}

.three p {
  margin-bottom: 30px;
}
.three table {
  margin: 0 auto;
  border-collapse: collapse;
}
@media screen and (max-width: 768px) {
  .three table {
    display: none;
  }
}
.three table .hidden {
  border: none;
  background-color: white;
}
.three table th {
  background-color: #f75311;
  color: white;
  padding: 10px 100px;
  border: 1px solid #374249;
}
@media screen and (max-width: 1024px) {
  .three table th {
    padding: 10px 50px;
  }
}
.three table td {
  padding: 10px 50px;
  border: 1px solid #374249;
}
@media screen and (max-width: 1024px) {
  .three table td {
    padding: 10px 50px;
  }
}
.three table .bg-dark {
  background-color: #374249;
  color: #f3f7f9;
  border-bottom-color: #cfd1d3;
  border-right-color: #cfd1d3;
}
@media screen and (max-width: 1024px) {
  .three table .bg-dark {
    padding: 10px 50px;
  }
}
.three .btn-hidden {
  display: none;
}
@media screen and (max-width: 768px) {
  .three .btn-hidden {
    display: block;
    margin: 0 auto;
  }
}

.four {
  text-align: center;
  padding: 50px;
  background-color: #f3f7f9;
}
.four .four-form {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 1024px) {
  .four .four-form {
    flex-wrap: wrap;
    padding: 0;
  }
}
.four .four-form .form {
  width: 60%;
}
@media screen and (max-width: 1024px) {
  .four .four-form .form {
    width: 100%;
  }
}
.four .four-form .form form {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  flex-wrap: wrap;
  background-color: #f75311;
}
@media screen and (max-width: 1024px) {
  .four .four-form .form form {
    margin-top: 20px;
  }
}
.four .four-form .form form .form-item,
.four .four-form .form form input[type=text],
.four .four-form .form form input[type=email],
.four .four-form .form form textarea,
.four .four-form .form form select {
  width: 100%;
  padding: 5px;
}
.four .four-form .form form .f-one {
  flex: 0 0 30%;
}
@media screen and (max-width: 768px) {
  .four .four-form .form form .f-one {
    flex: 0 0 100%;
  }
}
.four .four-form .form form .f-two {
  flex: 0 0 65%;
}
@media screen and (max-width: 768px) {
  .four .four-form .form form .f-two {
    flex: 0 0 100%;
  }
}
.four .four-form .form form .f-three,
.four .four-form .form form .f-foure {
  flex: 0 0 100%;
}

footer {
  background-color: #374249;
  text-align: center;
  color: white;
  padding: 20px 0;
}
footer span {
  color: #f75311;
}/*# sourceMappingURL=style.css.map */